.homeWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 30px;
}

.homeContainer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: clamp(50px, 15vh, 250px);
  padding: 0 10vh;
}

.homeTitle {
  font-size: clamp(20px, 6vw, 75px);
}

.job {
  font-size: clamp(20px, 3vw, 40px);
  font-weight: bold;
}

.description {
  font-size: clamp(13px, 2vw, 16px);
  max-width: 900px;
  margin-top: 30px;
}

.profilePhoto {
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
  background-image: url("https://avatars.githubusercontent.com/u/109898313?v=4");
  background-size: cover;
  background-position: center;
  margin-top: clamp(40px, 5vh, 300px);
  margin-left: clamp(50px, 8vh, 250px);
}

@media (max-width: 1300px) {
  .homeWrapper {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .profilePhoto {
    min-width: 150px;
    min-height: 150px;
    margin-bottom: -60px;
    margin-right: 50px;
  }
}

.resumeBtn {
  width: 250px;
  height: 40px;
  margin-top: 40px;
  border-radius: 10px;
}
